//Colors
$text-dark: #403F3D;
$text-light: #E1D4C9;
$text-accent: #B0907A;
$bg-body: #E1D4C9;
$bg-container: #665F55;
$bg-backdrop: rgba(64, 63, 61, 0.80);
$border-light: #C1B6AD;
$border-dark: #665F55;

//Typography
@mixin heading-1 {
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
}

@mixin heading-2 {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
}

@mixin heading-3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

@mixin medium {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

@mixin caption {
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
}

@mixin link-btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

@mixin burger-link {
  font-size: 32px;
  font-weight: 600;
  line-height: 125%;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  position: relative;
}

body {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
  background-color: $bg-body;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding: 0 72px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;

  .header__list {
    display: flex;
    gap: 40px;
  }

  .header__link,
  .header__menu {
    @include link-btn;
    color: $text-dark;
  }
}