//Colors
$text-dark: #403F3D;
$text-light: #E1D4C9;
$text-accent: #B0907A;
$bg-body: #E1D4C9;
$bg-container: #665F55;
$bg-backdrop: rgba(64, 63, 61, 0.80);
$border-light: #C1B6AD;
$border-dark: #665F55;

//Typography
@mixin heading-1 {
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
}

@mixin heading-2 {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
}

@mixin heading-3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

@mixin medium {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

@mixin caption {
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
}

@mixin link-btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

@mixin burger-link {
  font-size: 32px;
  font-weight: 600;
  line-height: 125%;
}

@mixin span {
  font-style: italic;
  color: $text-accent;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  position: relative;
}

body {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
  background-color: $bg-body;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding: 0 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;

  .header__list {
    display: flex;
    gap: 40px;
  }

  .header__link,
  .header__menu {
    @include link-btn;
    color: $text-dark;
  }
}

.hero {
  margin-bottom: 100px;
  color: $text-light;

  .hero__img {
    height: 644px;
    background-image: url(./assets/img-hero.png);
    background-size: cover;
    border-radius: 40px;
    position: relative;

    .hero__block {
      position: absolute;
      top: 100px;
      left: 100px;
      max-width: 530px;
      display: flex;
      flex-direction: column;
      gap: 40px;

      .hero__title {
        @include heading-1;

        span {
          @include span;
        }
      }

      .hero__description {
        @include medium;
      }

      .hero__btn {
        align-self: flex-start;
        padding: 20px 78px;
        border-radius: 100px;
        background-color: $bg-body;
        color: $text-dark;
        border: none;
      }
    }

  }
}

.favorite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 100px;
  color: $text-dark;

  .favorite__title {
    @include heading-2;

    span {
      @include span;
    }
  }

  .slider {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .slider__coffee {
      max-width: 480px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .slider__img {
        max-width: 480px;
        max-height: 480px;
        margin-bottom: 20px;

        img {
          width: 100%;
        }
      }

      .slider__title,
      .slider__price {
        @include heading-3;
      }

      .slider__description {
        @include medium;
        text-align: center;
        margin: 16px 0;
      }
    }
  }
}

.about {
  margin-bottom: 100px;
  color: $text-dark;

  .about__title {
    @include heading-2;
    margin-bottom: 40px;

    span {
      @include span;
    }
  }

  .about__container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;

    img {
      width: 100%;
    }

    .about__img_high {
      max-width: 660px;
      max-height: 590px;
      overflow: hidden;
      border-radius: 20px;
    }

    .about__img {
      max-width: 660px;
      max-height: 430px;
      overflow: hidden;
      border-radius: 20px;
    }

    .about__left-side,
    .about__right-side {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
  }
}