*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  position: relative;
}

body {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  background-color: #E1D4C9;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding: 0 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
}
.header .header__list {
  display: flex;
  gap: 40px;
}
.header .header__link,
.header .header__menu {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  color: #403F3D;
}

.hero {
  margin-bottom: 100px;
  color: #E1D4C9;
}
.hero .hero__img {
  height: 644px;
  background-image: url(./assets/img-hero.png);
  background-size: cover;
  border-radius: 40px;
  position: relative;
}
.hero .hero__img .hero__block {
  position: absolute;
  top: 100px;
  left: 100px;
  max-width: 530px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.hero .hero__img .hero__block .hero__title {
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
}
.hero .hero__img .hero__block .hero__title span {
  font-style: italic;
  color: #B0907A;
}
.hero .hero__img .hero__block .hero__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.hero .hero__img .hero__block .hero__btn {
  align-self: flex-start;
  padding: 20px 78px;
  border-radius: 100px;
  background-color: #E1D4C9;
  color: #403F3D;
  border: none;
}

.favorite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 100px;
  color: #403F3D;
}
.favorite .favorite__title {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
}
.favorite .favorite__title span {
  font-style: italic;
  color: #B0907A;
}
.favorite .slider {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.favorite .slider .slider__coffee {
  max-width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.favorite .slider .slider__coffee .slider__img {
  max-width: 480px;
  max-height: 480px;
  margin-bottom: 20px;
}
.favorite .slider .slider__coffee .slider__img img {
  width: 100%;
}
.favorite .slider .slider__coffee .slider__title,
.favorite .slider .slider__coffee .slider__price {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}
.favorite .slider .slider__coffee .slider__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  margin: 16px 0;
}

.about {
  margin-bottom: 100px;
  color: #403F3D;
}
.about .about__title {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 40px;
}
.about .about__title span {
  font-style: italic;
  color: #B0907A;
}
.about .about__container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}
.about .about__container img {
  width: 100%;
}
.about .about__container .about__img_high {
  max-width: 660px;
  max-height: 590px;
  overflow: hidden;
  border-radius: 20px;
}
.about .about__container .about__img {
  max-width: 660px;
  max-height: 430px;
  overflow: hidden;
  border-radius: 20px;
}
.about .about__container .about__left-side,
.about .about__container .about__right-side {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.apps {
  color: #403F3D;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.apps .apps__left-side {
  max-width: 630px;
}
.apps .apps__left-side .apps__title {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
}
.apps .apps__left-side .apps__title span {
  font-style: italic;
  color: #B0907A;
}
.apps .apps__left-side .apps__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin: 40px 0;
}
.apps .apps__left-side .apps__btns {
  display: flex;
  gap: 20px;
}
.apps .apps__left-side .apps__btns .apps__btn {
  color: #403F3D;
  background-color: #E1D4C9;
  border-radius: 100px;
  padding: 12px 20px;
  display: flex;
  gap: 8px;
  border: 1px solid #665F55;
  cursor: pointer;
}
.apps .apps__left-side .apps__btns .apps__btn .apps-btn-description {
  width: 112px;
  text-align: start;
}
.apps .apps__left-side .apps__btns .apps__btn .apps-btn-description :first-child {
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
  margin-bottom: 2px;
}
.apps .apps__left-side .apps__btns .apps__btn .apps-btn-description :last-child {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.footer {
  background-color: #665F55;
  color: #E1D4C9;
  padding: 100px;
  margin-bottom: 40px;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.footer .footer__left-side {
  width: 530px;
}
.footer .footer__left-side .footer__title {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 40px;
}
.footer .footer__left-side .footer__title span {
  font-style: italic;
  color: #B0907A;
}
.footer .footer__left-side .footer__icons {
  display: flex;
  gap: 12px;
}
.footer .footer__left-side .footer__icons .footer__icon a {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid #C1B6AD;
}
.footer .footer__right-side {
  width: 530px;
  height: 186px;
}
.footer .footer__right-side .footer__contacts {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 40px;
}
.footer .footer__right-side .footer__link-items {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}
.footer .footer__right-side .footer__link-items .footer__link-item {
  color: #E1D4C9;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}
.footer .footer__right-side .footer__link-items :nth-child(2) {
  margin: 16px 0;
}
.footer .footer__right-side .footer__link-items span {
  margin-right: 6px;
}/*# sourceMappingURL=style.css.map */