:root {
  --c-text-dark: #403f3d;
  --c-text-light: #e1d4c9;
  --c-text-accent: #b0907a;
  --c-bg-body: #e1d4c9;
  --c-bg-container: #665f55;
  --c-bg-backdrop: rgba(64, 63, 61, 0.8);
  --c-border-light: #c1b6ad;
  --c-border-dark: #665f55;
  --theme-transition: 0.3s ease-in-out;
}

[data-theme=dark] {
  --c-text-dark: #e1d4c9;
  --c-text-light: #e1d4c9;
  --c-text-accent: #b0907a;
  --c-bg-body: #292826;
  --c-bg-container: #403f3d;
  --c-bg-backdrop: rgba(64, 63, 61, 0.8);
  --c-border-light: #665f55;
  --c-border-dark: #c1b6ad;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  position: relative;
  transition: 0.5s ease-in;
}
a::after, a::before {
  transition: 0.5s ease-in;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--c-bg-body);
  transition: background-color var(--theme-transition), color var(--theme-transition);
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding: 0 40px;
}

.disabled {
  pointer-events: none;
  cursor: default;
}

.locked {
  overflow: hidden;
}

.hidden {
  display: none;
}

.modal .modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  background-color: var(--c-bg-backdrop);
}
.modal .modal__overlay .modal__container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 16px;
  max-width: 800px;
  border-radius: 40px;
  background-color: var(--c-bg-body);
}
.modal .modal__overlay .modal__container .modal__img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  width: 310px;
  height: 310px;
  overflow: hidden;
}
.modal .modal__overlay .modal__container .modal__img img {
  width: 340px;
  height: 340px;
}
.modal .modal__overlay .modal__container .modal__block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  max-width: 438px;
}
.modal .modal__overlay .modal__container .modal__block .modal__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 12px;
  color: var(--c-text-dark);
}
.modal .modal__overlay .modal__container .modal__block .modal__description,
.modal .modal__overlay .modal__container .modal__block .modal__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: var(--c-text-dark);
}
.modal .modal__overlay .modal__container .modal__block .modal__subblock {
  display: flex;
  align-content: flex-start;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 8px;
}
.modal .modal__overlay .modal__container .modal__block .modal__label input {
  display: none;
}
.modal .modal__overlay .modal__container .modal__block .modal__label .modal__btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  display: flex;
  padding: 8px 16px 8px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid var(--c-border-light);
  color: var(--c-text-dark);
  transition: 0.5s ease-in;
}
.modal .modal__overlay .modal__container .modal__block .modal__label .modal__btn .modal-btn__icon,
.modal .modal__overlay .modal__container .modal__block .modal__label .modal__btn .modal-btn__description {
  transition: 0.5s ease-in;
}
.modal .modal__overlay .modal__container .modal__block .modal__label .modal__btn .modal-btn__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  padding: 3px 10px;
  border-radius: 100px;
  background-color: var(--c-border-light);
}
@media (hover: hover) {
  .modal .modal__overlay .modal__container .modal__block .modal__label .modal__btn:hover {
    cursor: pointer;
    background-color: var(--c-border-light);
  }
  .modal .modal__overlay .modal__container .modal__block .modal__label .modal__btn:hover .modal-btn__icon {
    background-color: var(--c-bg-body);
  }
  .modal .modal__overlay .modal__container .modal__block .modal__label .modal__btn:hover .modal-btn__description {
    color: var(--c-text-light);
  }
}
.modal .modal__overlay .modal__container .modal__block .modal__label input:checked + .modal__btn {
  background-color: var(--c-bg-container);
}
.modal .modal__overlay .modal__container .modal__block .modal__label input:checked + .modal__btn .modal-btn__icon {
  background-color: var(--c-bg-body);
}
.modal .modal__overlay .modal__container .modal__block .modal__label input:checked + .modal__btn .modal-btn__description {
  color: var(--c-text-light);
}
.modal .modal__overlay .modal__container .modal__block .modal-total {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-self: stretch;
}
.modal .modal__overlay .modal__container .modal__block .modal-total .modal-total__title,
.modal .modal__overlay .modal__container .modal__block .modal-total .modal-total__price {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  color: var(--c-text-dark);
}
.modal .modal__overlay .modal__container .modal__block .modal-info {
  display: flex;
  padding: 12px 0px;
  gap: 8px;
  align-self: stretch;
  border-top: 1px solid var(--c-border-light);
}
.modal .modal__overlay .modal__container .modal__block .modal-info svg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  width: 16px;
  flex: none;
}
.modal .modal__overlay .modal__container .modal__block .modal-info svg path {
  stroke: var(--c-text-dark);
}
.modal .modal__overlay .modal__container .modal__block .modal-info .modal-info__description {
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
  color: var(--c-text-dark);
}
.modal .modal__overlay .modal__container .modal__block .modal__close-btn {
  display: flex;
  padding: 10px 78px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  background-color: transparent;
  border-radius: 100px;
  border: 1px solid var(--c-border-dark);
  color: var(--c-text-dark);
  transition: 0.5s ease-in;
}
@media (hover: hover) {
  .modal .modal__overlay .modal__container .modal__block .modal__close-btn:hover {
    cursor: pointer;
    background-color: var(--c-bg-container);
    color: var(--c-text-light);
  }
}

@media (max-width: 768px) {
  .modal .modal__overlay .modal__container .modal__block {
    max-width: 326px;
  }
}
@media (max-width: 700px) {
  .modal .modal__overlay .modal__container .modal__img {
    display: none;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
}
.header .header__logo {
  display: block;
  width: 100px;
  height: 60px;
}
.header .header__logo img {
  display: block;
  width: 100%;
  height: 100%;
}
[data-theme=dark] .header__logo img {
  content: url("../assets/logo-dark.svg")/"site logo";
}

.header .header__nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 894px;
  width: 75vw;
}
.header .header__nav-container .header__list {
  display: flex;
  gap: 40px;
}
.header .header__nav-container .header__list .header__item {
  transition: 5s ease-in;
}
.header .header__nav-container .header__menu {
  display: flex;
  gap: 8px;
}
.header .header__nav-container .header__menu .header__cup-icon path {
  stroke: var(--c-text-dark);
  transition: stroke 0.3s ease;
}
.header .header__nav-container .header__link,
.header .header__nav-container .header__menu {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  color: var(--c-text-dark);
}
.header .header__nav-container .header__link::after, .header .header__nav-container .header__link::before,
.header .header__nav-container .header__menu::after,
.header .header__nav-container .header__menu::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: -4px;
  left: 50.1%;
  background-color: var(--c-text-dark);
}
@media (hover: hover) {
  .header .header__nav-container .header__link:hover::after,
  .header .header__nav-container .header__menu:hover::after {
    width: 50%;
  }
  .header .header__nav-container .header__link:hover::before,
  .header .header__nav-container .header__menu:hover::before {
    width: 50%;
    transform: translateX(-100%);
  }
}
.header .header__nav-container .header__menu_active::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: -4px;
  left: 50.1%;
  background-color: var(--c-text-dark);
  width: 100%;
  left: 0;
}
.header .header__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 184px;
}
.header .header__burger {
  display: none;
}

.hero {
  margin-bottom: 100px;
  color: var(--c-text-light);
}
.hero .hero__img {
  height: 644px;
  border-radius: 40px;
  position: relative;
  overflow: hidden;
}
.hero .hero__img .hero__video {
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero .hero__img .hero__block {
  position: absolute;
  top: 100px;
  left: 100px;
  max-width: 530px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  z-index: 1;
}
.hero .hero__img .hero__block .hero__title {
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
}
.hero .hero__img .hero__block .hero__title span {
  font-style: italic;
  color: var(--c-text-accent);
}
.hero .hero__img .hero__block .hero__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.hero .hero__img .hero__block .hero__btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  align-self: flex-start;
  padding: 20px 78px;
  width: 200px;
  border-radius: 100px;
  background-color: var(--c-bg-body);
  color: var(--c-text-dark);
  border: none;
}
.hero .hero__img .hero__block .hero__btn span {
  position: absolute;
  opacity: 0;
  right: 64px;
  transition: opacity 0.3s ease-in;
}
@media (hover: hover) {
  .hero .hero__img .hero__block .hero__btn:hover {
    padding-left: 64px;
  }
  .hero .hero__img .hero__block .hero__btn:hover span {
    display: inline-block;
    opacity: 1;
  }
  .hero .hero__img .hero__block .hero__btn:hover span .hero__cup-icon path {
    stroke: var(--c-text-dark);
    transition: stroke 0.3s ease-in;
  }
}

.favorite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 100px;
  color: var(--c-text-dark);
}
.favorite .favorite__title {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  text-align: center;
}
.favorite .favorite__title span {
  font-style: italic;
  color: var(--c-text-accent);
}
.favorite .slider {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.favorite .slider .slider__left-btn,
.favorite .slider .slider__right-btn {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--c-border-dark);
  cursor: pointer;
  transition: 0.5s ease-in;
}
.favorite .slider .slider__left-btn path,
.favorite .slider .slider__right-btn path {
  stroke: var(--c-text-dark);
  transition: stroke 0.3s ease-in;
}
.favorite .slider .slider__left-btn svg path,
.favorite .slider .slider__right-btn svg path {
  transition: 0.5s ease-in;
}
@media (hover: hover) {
  .favorite .slider .slider__left-btn:hover,
  .favorite .slider .slider__right-btn:hover {
    border-color: var(--c-bg-container);
    background-color: var(--c-bg-container);
  }
  .favorite .slider .slider__left-btn:hover svg path,
  .favorite .slider .slider__right-btn:hover svg path {
    stroke: var(--c-text-light);
    transition: stroke 0.3s ease-in;
  }
}
.favorite .slider .slider__wrapper {
  max-width: 480px;
  overflow: hidden;
}
.favorite .slider .slider__wrapper .slider__line {
  display: flex;
  position: relative;
  left: 0;
  transition: 0.5s ease;
}
.favorite .slider .slider__wrapper .slider__line .slider__coffee {
  max-width: 480px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.favorite .slider .slider__wrapper .slider__line .slider__coffee .slider__img {
  width: 480px;
  max-height: 480px;
  margin-bottom: 20px;
}
.favorite .slider .slider__wrapper .slider__line .slider__coffee .slider__img img {
  width: 100%;
}
.favorite .slider .slider__wrapper .slider__line .slider__coffee .slider__title,
.favorite .slider .slider__wrapper .slider__line .slider__coffee .slider__price {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}
.favorite .slider .slider__wrapper .slider__line .slider__coffee .slider__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  margin: 16px 0;
}
.favorite .slider__controls {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}
.favorite .slider__controls .slider__control,
.favorite .slider__controls .slider__progress {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background-color: var(--c-border-light);
}
.favorite .slider__controls .slider__control .slider__progress_active,
.favorite .slider__controls .slider__progress .slider__progress_active {
  display: block;
  background-color: var(--c-border-dark);
  animation: progressToNextSlide 5s linear;
}
@keyframes progressToNextSlide {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.about {
  margin-bottom: 100px;
  color: var(--c-text-dark);
}
.about .about__title {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 40px;
}
.about .about__title span {
  font-style: italic;
  color: var(--c-text-accent);
}
.about .about__container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}
.about .about__container .about__img {
  max-width: 660px;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .about__container .about__img img {
  transition: transform 0.5s ease-out;
}
@media (hover: hover) {
  .about .about__container .about__img:hover img {
    transform: scale(0.91);
  }
}
.about .about__container .about__img_high {
  max-height: 590px;
}
.about .about__container .about__img_short {
  max-height: 430px;
}
.about .about__container .about__left-side,
.about .about__container .about__right-side {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.apps {
  color: var(--c-text-dark);
  margin-bottom: 98px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.apps .apps__left-side {
  max-width: 630px;
}
.apps .apps__left-side .apps__title {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
}
.apps .apps__left-side .apps__title span {
  font-style: italic;
  color: var(--c-text-accent);
}
.apps .apps__left-side .apps__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin: 40px 0;
}
.apps .apps__left-side .apps__btns {
  display: flex;
  gap: 20px;
}
.apps .apps__left-side .apps__btns .apps__btn {
  color: var(--c-text-dark);
  background-color: var(--c-bg-body);
  border-radius: 100px;
  padding: 12px 20px;
  display: flex;
  gap: 8px;
  border: 1px solid var(--c-border-dark);
  cursor: pointer;
  transition: 0.3s ease-in;
}
.apps .apps__left-side .apps__btns .apps__btn svg path {
  fill: var(--c-text-dark);
  transition: 0.3s ease-in;
}
@media (hover: hover) {
  .apps .apps__left-side .apps__btns .apps__btn:hover {
    color: var(--c-text-light);
    border-color: var(--c-bg-container);
    background-color: var(--c-bg-container);
  }
  .apps .apps__left-side .apps__btns .apps__btn:hover svg path {
    fill: var(--c-text-light);
    transition: 0.3s ease-in;
  }
}
.apps .apps__left-side .apps__btns .apps__btn .apps-btn-description {
  width: 112px;
  text-align: start;
}
.apps .apps__left-side .apps__btns .apps__btn .apps-btn-description :first-child {
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
  display: block;
  margin-bottom: 2px;
}
.apps .apps__left-side .apps__btns .apps__btn .apps-btn-description :last-child {
  display: block;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.footer {
  background-color: var(--c-bg-container);
  color: var(--c-text-light);
  padding: 100px;
  margin-bottom: 40px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
}
.footer .footer__left-side {
  max-width: 530px;
  width: 100%;
}
.footer .footer__left-side .footer__title {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 40px;
}
.footer .footer__left-side .footer__title span {
  font-style: italic;
  color: var(--c-text-accent);
}
.footer .footer__left-side .footer__icons {
  display: flex;
  gap: 12px;
}
.footer .footer__left-side .footer__icons .footer__icon a {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--c-border-light);
}
.footer .footer__left-side .footer__icons .footer__icon a svg path {
  transition: 0.5s ease-in;
}
@media (hover: hover) {
  .footer .footer__left-side .footer__icons .footer__icon a:hover {
    border: var(--c-bg-body);
    background-color: var(--c-bg-body);
  }
  .footer .footer__left-side .footer__icons .footer__icon a:hover svg path {
    stroke: var(--c-text-dark);
  }
}
.footer .footer__right-side {
  max-width: 530px;
  width: 100%;
  height: 186px;
}
.footer .footer__right-side .footer__contacts {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 40px;
}
.footer .footer__right-side .footer__link-items {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}
.footer .footer__right-side .footer__link-items .footer__link-item {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--c-text-light);
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}
.footer .footer__right-side .footer__link-items .footer__link-item::after, .footer .footer__right-side .footer__link-items .footer__link-item::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: -4px;
  left: 50.1%;
  background-color: var(--c-text-light);
}
@media (hover: hover) {
  .footer .footer__right-side .footer__link-items .footer__link-item:hover::after {
    width: 50%;
  }
  .footer .footer__right-side .footer__link-items .footer__link-item:hover::before {
    width: 50%;
    transform: translateX(-100%);
  }
}
.footer .footer__right-side .footer__link-items .footer__link-item_inline {
  display: inline;
}
.footer .footer__right-side .footer__link-items :nth-child(2) {
  margin: 16px 0;
}
.footer .footer__right-side .footer__link-items span {
  margin-right: 6px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  color: var(--c-text-dark);
}
.menu .menu__title {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  max-width: 800px;
  text-align: center;
}
.menu .menu__title span {
  font-style: italic;
  color: var(--c-text-accent);
}
.menu .menu__btns {
  margin: 40px 0;
  display: flex;
  gap: 16px;
}
.menu .menu__btns .menu__btn {
  color: var(--c-text-dark);
  background-color: var(--c-bg-body);
  display: flex;
  padding: 8px 16px 8px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid var(--c-border-light);
  transition: 0.5s ease-in;
}
@media (hover: hover) {
  .menu .menu__btns .menu__btn:hover {
    cursor: pointer;
    background-color: var(--c-bg-container);
    color: var(--c-text-light);
  }
  .menu .menu__btns .menu__btn:hover .menu__btn-img {
    background-color: var(--c-bg-body);
  }
}
.menu .menu__btns .menu__btn .menu__btn-img {
  display: flex;
  width: 30px;
  height: 30px;
  padding: 3px 7px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: var(--c-border-light);
  transition: 0.5s ease-in;
}
.menu .menu__btns .menu__btn_active {
  color: var(--c-text-light);
  background-color: var(--c-bg-container);
}
.menu .menu__btns .menu__btn_active .menu__btn-img {
  background-color: var(--c-bg-body);
  border: none;
}
.menu .menu__preview {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}
.menu .menu__preview .menu__preview-item {
  max-width: 310px;
  max-height: 506px;
  cursor: pointer;
  border-radius: 40px;
  border: 1px solid var(--c-border-light);
}
.menu .menu__preview .menu__preview-item img {
  transition: transform 0.5s ease-out;
}
@media (hover: hover) {
  .menu .menu__preview .menu__preview-item:hover img {
    transform: scale(0.91);
  }
}
.menu .menu__preview .menu__preview-item .menu__preview-img {
  width: 310px;
  height: 310px;
  border-radius: 40px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .menu__preview .menu__preview-item .menu__preview-block {
  height: 196px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu .menu__preview .menu__preview-item .menu__preview-block .menu__preview-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}
.menu .menu__preview .menu__preview-item .menu__preview-block .menu__preview-description {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.menu .menu__preview .menu__preview-item .menu__preview-block .menu__preview-price {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}
.menu .menu__preview-btn {
  display: none;
}

@media (max-width: 1350px) {
  .apps {
    justify-content: center;
    gap: 100px;
  }
  .apps .apps__left-side {
    max-width: 688px;
  }
}
@media (max-width: 868px) {
  .header .header__nav-container {
    position: fixed;
    top: 100px;
    right: 0;
    z-index: 2;
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;
    padding: 60px 40px;
    background-color: var(--c-bg-body);
    overflow: auto;
    transition: 0.5s ease-in;
    transform: translateX(100%);
  }
  .header .header__nav-container .header__list {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }
  .header .header__nav-container .header__list .header__item {
    display: inline-block;
    height: 40px;
  }
  .header .header__nav-container .header__list .header__item .header__link {
    font-size: 32px;
  }
  .header .header__nav-container .header__menu {
    font-size: 32px;
  }
  .header .header__nav-container .header__menu span {
    width: 40px;
    height: 40px;
  }
  .header .header__nav-container .header__menu span img {
    width: 100%;
  }
  .header .header__burger {
    position: relative;
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid var(--c-border-dark);
    background-color: transparent;
    cursor: pointer;
  }
  .header .header__burger .header__line {
    position: absolute;
    display: block;
    width: 16px;
    height: 2px;
    background-color: var(--c-border-dark);
    border-radius: 2px;
    transition: 0.5s ease-in;
  }
  .header .header__burger .header__line_top {
    top: 16.5px;
  }
  .header .header__burger .header__line_bottom {
    bottom: 16.5px;
  }
  .header .header__burger.active .header__line_top {
    top: 20px;
    transform: rotate(-45deg);
  }
  .header .header__burger.active .header__line_bottom {
    bottom: 20.5px;
    transform: rotate(45deg);
  }
  .header .header__nav-container.active {
    transform: translateX(0);
  }
  .hero .hero__img {
    background-position: center 0;
  }
  .hero .hero__img .hero__block {
    left: 60px;
  }
  .hero .hero__img .hero__block .hero__btn {
    padding-left: 64px;
  }
  .hero .hero__img .hero__block .hero__btn span {
    display: inline-block;
    opacity: 1;
  }
  .about .about__container {
    -moz-column-gap: 0;
         column-gap: 0;
  }
  .about .about__container .about__img {
    max-width: 688px;
  }
  .about .about__container .about__img_short {
    display: none;
  }
  .footer {
    padding: 100px 60px;
    justify-content: flex-start;
  }
  .menu .menu__preview .menu__preview-item:nth-child(5),
  .menu .menu__preview .menu__preview-item:nth-child(6),
  .menu .menu__preview .menu__preview-item:nth-child(7),
  .menu .menu__preview .menu__preview-item:nth-child(8) {
    display: none;
  }
  .menu .menu__preview .menu__preview-item.displayed {
    display: block;
  }
  .menu .menu__preview-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 1px solid var(--c-border-light);
    border-radius: 100px;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
    align-self: center;
    margin-top: 40px;
  }
  .menu .menu__preview-btn svg path {
    stroke: var(--c-text-dark);
    transition: 0.3s ease-in;
  }
  .menu .menu__preview-btn.hidden {
    display: none;
  }
}
@media (max-width: 700px) {
  .container {
    padding: 0 16px;
  }
  .header .header__nav-container {
    padding: 60px 16px;
  }
  .hero .hero__img {
    height: 552px;
  }
  .hero .hero__img .hero__block {
    left: 16px;
    top: 60px;
    max-width: 316px;
  }
  .hero .hero__img .hero__block .hero__title {
    font-size: 42px;
    font-weight: 600;
    line-height: 115%;
  }
  .favorite .favorite__title {
    font-size: 32px;
    font-weight: 600;
    line-height: 125%;
  }
  .favorite .slider {
    justify-content: center;
  }
  .favorite .slider .slider__left-btn,
  .favorite .slider .slider__right-btn {
    display: none;
  }
  .favorite .slider .slider__wrapper {
    max-width: 348px;
  }
  .favorite .slider .slider__wrapper .slider__line .slider__coffee .slider__img {
    width: 348px;
  }
  .about .about__title {
    font-size: 32px;
    font-weight: 600;
    line-height: 125%;
  }
  .about .about__container .about__img {
    max-width: 348px;
  }
  .apps {
    gap: 37px;
  }
  .apps .apps__left-side .apps__title {
    font-size: 32px;
    font-weight: 600;
    line-height: 125%;
  }
  .apps .apps__left-side .apps__btns {
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
  }
  .apps .apps__right-side {
    max-width: 348px;
  }
  .apps .apps__right-side img {
    width: 100%;
  }
  .footer {
    padding: 60px 16px;
    gap: 40px;
  }
  .footer .footer__left-side .footer__title {
    font-size: 32px;
    font-weight: 600;
    line-height: 125%;
  }
  .menu .menu__title {
    font-size: 32px;
    font-weight: 600;
    line-height: 125%;
  }
  .menu .menu__btns {
    gap: 8px;
  }
}
.theme-switch {
  position: absolute;
  top: 28px;
  right: 19vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  padding: 4px;
  background-color: transparent;
  border: 1px solid var(--c-border-light);
  border-radius: 100px;
  cursor: pointer;
  width: 88px;
  height: 44px;
  overflow: hidden;
  outline: none;
  transition: 0.5s ease-in;
}
.theme-switch__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  transition: background-color 0.5s ease-in;
}
.theme-switch__icon svg path {
  transition: fill 0.5s ease-in;
}
.theme-switch__icon_sun {
  background-color: #b0907a;
}
.theme-switch__icon_sun svg path {
  fill: #e1d4c9;
}
.theme-switch__icon_moon {
  background-color: transparent;
}
.theme-switch__icon_moon svg path {
  fill: #403f3d;
}
@media (hover: hover) {
  .theme-switch__icon_moon:hover {
    background-color: #665f55;
  }
  .theme-switch__icon_moon:hover svg path {
    fill: #e1d4c9;
  }
}
@media (max-width: 1440px) {
  .theme-switch {
    right: 11vw;
  }
}
@media (max-width: 1050px) {
  .theme-switch {
    right: 15vw;
  }
}
@media (max-width: 450px) {
  .theme-switch {
    right: 25vw;
  }
}

[data-theme=dark] .theme-switch__icon_sun {
  background-color: transparent;
}
[data-theme=dark] .theme-switch__icon_sun svg path {
  fill: #e1d4c9;
}
@media (hover: hover) {
  [data-theme=dark] .theme-switch__icon_sun:hover {
    background-color: #403f3d;
  }
  [data-theme=dark] .theme-switch__icon_sun:hover svg path {
    fill: #e1d4c9;
  }
}
[data-theme=dark] .theme-switch__icon_moon {
  background-color: #b0907a;
}
[data-theme=dark] .theme-switch__icon_moon svg path {
  fill: #e1d4c9;
}/*# sourceMappingURL=style.css.map */